body {
    background-image: url("images/pexels-thirdman-8926558.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 100vh;
    flex-wrap: wrap;
}

#results {
    width: 50%;
}

#userResults, #computerResults {
    width: 24%;
}

#userResults, #computerResults, #results {
    border: 1px solid red;
    height: 20%;
    margin-bottom: 0%;
}

button {
    margin: -30% 1% 0% 1%;
    padding: 0.25rem 1rem;
    border-radius: 0.75em;
    background-color: bisque;
}